header {
  position: absolute;
  width: 100%;
  @include clearfix();
  @include transition(all 0.4s ease-in-out);
  z-index: 10;

  .logo {
    position: static;
    border: none;

    &:after {
      display: none;
    }

    svg {
      @include centre(both);
      opacity: 0;
      @include transition(all 0.4s ease-in-out);
      height: 30px;
      width: 65px;
    }
  }

  &.scroll {
    background: $c-white;
    box-shadow: 0 0px 10px $c-black;

    .logo {
      svg {
        opacity: 1;
      }
    }

    .headerlinks {
      a {
        svg {
          fill: $c-black;
        }
      }
    }
  }

  &.open {
    margin-left: 200px;
    margin-left: calc(100% - 124px);

    .headerbuttons {
      .menu {
        .menu-burger {
          span {
            &:nth-child(1), &:nth-child(6) {
              @include transform(rotate(45deg));
            }

            &:nth-child(2), &:nth-child(5) {
              @include transform(rotate(-45deg));
            }

            &:nth-child(1) {
              left: 5px;
              top: 4px;
            }

            &:nth-child(2) {
              left: calc(50% - 5px);
              top: 4px;
            }

            &:nth-child(3) {
              left: -50%;
              opacity: 0;
              background: $c-gold;
            }

            &:nth-child(4) {
              left: 100%;
              opacity: 0;
              background: $c-gold;
            }

            &:nth-child(5) {
              left: 5px;
              top: 9px;
            }

            &:nth-child(6) {
              left: calc(50% - 5px);
              top: 9px;
            }
          }
        }
      }
    }

  }

  .headerbuttons {
    font-size: 0;
    display: inline-block;
    float: left;

    .reservationbtn {
      display: none;
    }

    .calendar {
      background: $c-gold;
      width: 62px;
      height: 44px;
      display: inline-block;
      vertical-align: top;
      position: relative;

      img {
        @include centre(both);
        height: 20px;
      }
    }

    .menu {
      display: inline-block;
      padding: 10.5px 16px;
      cursor: pointer;
      background: $c-white;
      vertical-align: top;

      p {
        display: none;
      }

      .menu-burger {
        vertical-align: middle;
        width: 30px;
        height: 16px;
        position: relative;
        @include transform(rotate(0deg));
        @include transition(all 0.3s ease-in-out)
        display: inline-block;

        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 50%;
          background: $c-black;
          opacity: 1;
          @include transform(rotate(0deg));
          @include transition(all 0.3s ease-in-out);

          &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
          }

          &:nth-child(odd) {
            left:0px;
            border-radius: 9px 0 0 9px;
          }

          &:nth-child(1), &:nth-child(2) {
            top: 0;
          }

          &:nth-child(3), &:nth-child(4) {
            top: 7px;
          }

          &:nth-child(5), &:nth-child(6) {
            top: 14px;
          }
        }
      }
    }
  }

  .headerlinks {
    float: right;
    margin: 12.5px 8px 0 0;
    display: inline-block;

    a {
      border: none;
      margin-left: 10px;

      p {
        display: none;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: $c-white;
      }
    }
  }

  @media (min-width: 350px) {
    .headerlinks {
      margin: 12.5px 22px 0 0;

      a {
        margin-left: 20px;
      }
    }
  }

  @media (min-width: 450px) {
    &.open {
      margin-left: 300px;
    }
  }

  @media (min-width: $screen-sm) {
    position: fixed;

    .headerbuttons {
      .calendar {
        height: 44px;
      }

      .menu {
        padding: 9px 16px;
      }
    }
  }

  @media (min-width: $screen-md) {
    height: 50px;

    .logo {
      svg {
        height: 40px;
        width: 80px;
      }
    }

    &.open {
      margin-left: 0;

      .headerbuttons {
        .menu {
          background: rgba(255, 255, 255, 0.9);
        }
      }
    }

    &.scroll {
      .headerlinks {
        a {
          p {
            color: $c-black;
          }
        }
      }
    }

    .headerbuttons {

      .menu {
        padding: 12px 25px;

        p {
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 800;
          @include font-size(1.2, 1.2);
          margin: 0 0 0 12px;
        }
      }

      .calendar {
        display: none;
      }

      .reservationbtn {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 800;
        @include font-size(1.2, 1.2);
        background: $c-gold;
        color: $c-white;
        min-width: 200px;
        text-align: center;
        vertical-align: middle;
        padding: 19px 12px;
        border: none!important;
        position: relative;
        z-index: 1;
        @include transition(all 0.3s ease-in-out);

        &:after {
          display: none;
        }

        &:hover {
          background: rgba(177, 138, 46, 0.9);
        }

        &.open {
          background: rgba(177, 138, 46, 0.9);
        }
      }
    }

    .headerlinks {
      margin-right: 45px;

      a {
        margin-left: 25px;

        &:after {
          display: none;
        }

        &.active {
          p {
            opacity: 1;
          }
        }

        p {
          display: inline-block;
          color: white;
          margin-right: 15px;
          font-weight: 400;
          position: relative;
          top: -7px;
          opacity: 0;
          @include transition(all 0.4s ease-in-out);
        }

        svg {
          width: 25px;
          height: 25px;
          @include transition(all 0.3s ease-in-out);
        }

        &:hover {
          svg {
            fill: $c-gold;
          }
        }
      }
    }
  }
}
