.reservationform {
  width: 100%;
  max-width: 200px;
  max-width: calc(100% - 124px);
  position: fixed;
  top: 44px;
  left:0;
  background: rgba(177, 138, 46, 0.9);
  z-index: 10;
  display: none;
  padding: 25px 40px;

  .spa {
    display: none;

    p {
      color: $c-white;
    }
  }

  form {

    select, input {
      width: 100%;
      margin-bottom: 20px;
    }

    input {
      margin-right: 20px;
    }

    #datepicker {
      background-image: url('../images/calendar.png');
      background-repeat: no-repeat;
      background-position: 94% 50%;
    }

    .extra-form {
      display: none;

      button {
        margin-top: 5px;
        width: 100%;
      }
    }
  }

  @media (min-width: 450px) {
    max-width: 300px;
  }

  @media (min-width: $screen-md) {
    top: 50px;
    max-width: 281px;
  }
}
