/*REMOVE ON UMBRACO INSTALL*/
.testmenu {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;
	background: #111111;

	select {
		width: 270px;
		font-size: 16px;
		padding: 10px 5px;
		margin-bottom: 0;
		background: $c-white;
	}
}

/*REMOVE END*/

@-ms-viewport {
	width: auto;
}

html, body {
	overflow-x: visible;
	-ms-overflow-style: auto !important;
	font-size: 62.5%;
}

body {
	@include font-smoothing;
	font-family: $body-font;
}

img {
	max-width: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: $c-title;
	margin: 0 0 15px;
	font-family: $title-font;
	font-weight: 400;
}

h1, .h1 {
	@include font-size(5.0, 6.0);
}
h2, .h2 {
	@include font-size(3.0, 4.0);
}
h3, .h3 {
	@include font-size(2.5, 3.5);
}
h4, .h4 {
	@include font-size(2.0, 3.0);
}

p,
body,
ul li,
ol li {
	@include font-size(1.3, 2.3);
	color: $c-bodytext;
	font-family: $body-font;
}

p {
	margin: 0 0 15px;
	font-weight: 600;

	&.preamble, .preamble {
		@include font-size(2.0, 3.0);
		@include font-smoothing;
	}

	strong {
		font-weight: 800;
	}
}

ol {
	margin: 15px 0 15px 17px;
}

ul {
	list-style:none;
	margin: 15px 0;

	li {
		position: relative;

		&:before {
			content:'';
			background: $c-gold;
			width: 5px;
			height: 5px;
			vertical-align: middle;
			margin-right: 5px;
			@include border-radius(5px);
			display: inline-block;
		}
	}
}

ol {
	list-style: decimal;
}

blockquote {
}

em {
	font-style: italic;
}

// MEDIA QUERIES
// -------------------------------
@media (min-width:$screen-sm){
	h1, .h1 {
		@include font-size(6.0, 7.0);
	}
	h2, .h2 {
		@include font-size(4.0, 5.0);
	}
	h3, .h3 {
		@include font-size(3.0, 4.0);
	}
	h4, .h4 {
		@include font-size(2.5, 3.5);
	}

	p,
	body,
	ul li,
	ol li {
		@include font-size(1.6, 2.6);
	}
}
