/*REMOVE ON UMBRACO INSTALL*/
.testmenu {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;
	background: #111111;

	select {
		width: 270px;
		font-size: 16px;
		padding: 10px 5px;
		margin-bottom: 0;
		background: $c-white;
	}
}

/*REMOVE END*/

@-ms-viewport {
	width: auto;
}

html, body {
	overflow-x: visible;
	-ms-overflow-style: auto !important;
	font-size: 62.5%;
}

body {
	@include font-smoothing;
	font-family: $body-font;
}

img {
	max-width: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: $c-title;
	margin: 0 0 15px;
	font-family: $title-font;
	font-weight: 600;
}

h1, .h1 {
	@include font-size(2.6, 3.2);
}
h2, .h2 {
	@include font-size(2.4, 3.0);
}
h3, .h3 {
	@include font-size(2.0, 2.4);
}
h4, .h4 {
	@include font-size(1.8, 2.2);
}

p,
body,
ul li,
ol li {
	@include font-size(1.6, 2.2);
	color: $c-bodytext;
	font-family: $body-font;
}

p {
	margin: 0 0 15px;

	&.preamble, .preamble {
		@include font-size(2.0, 2.6);
		@include font-smoothing;
	}
}

ul, ol {
}

ul {
	list-style:disc;
}

ol {
	list-style: decimal;
}

blockquote {
}

em {
	font-style: italic;
}

// MEDIA QUERIES
// -------------------------------
@media (min-width:$screen-sm){
	h1, .h1 {
		@include font-size(3.2, 4.0);
	}
	h2, .h2 {
		@include font-size(2.8, 3.4);
	}
	h3, .h3 {
		@include font-size(2.2, 2.6);
	}
	h4, .h4 {
		@include font-size(2.0, 2.4);
	}
}

@media (min-width: $screen-md) {
	// h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	// 	margin: 0 0 15px;
	// }

	h1, .h1 {
		@include font-size(3.6, 4.2);
	}
	h2, .h2 {
		@include font-size(3.0, 3.6);
	}
	h3, .h3 {
		@include font-size(2.4, 2.8);
	}
	h4, .h4 {
		@include font-size(2.0, 2.4);
	}

	p {
		&.preamble, .preamble {
			@include font-size(2.4, 3.0);
			@include font-smoothing;
		}
	}

	p,
	body,
	ul li,
	ol li {
		@include font-size(1.8, 2.6);
	}
}
