.btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  display: inline-block;
  padding: 5px 30px;
  min-width: 150px;
  text-align: center;
  @include transition(all 0.4s ease-in-out);
  cursor: pointer;

  &.btn-gold {
    border: 2px solid $c-gold;
    background: $c-white;
    color: $c-gold;

    &:hover {
      color: $c-white;
      background: $c-gold;
    }
  }

  &.btn-white {
    border: 2px solid $c-white;
    background: $c-gold;
    color: $c-white;

    &:hover {
      color: $c-gold;
      background: $c-white;
    }
  }
}

@media (min-width: $screen-md) {
  .btn {
    position: relative;
    z-index: 1;

    &:after {
      position: absolute;
      z-index: -1;
      width: 0;
      height: 100%;
      bottom:0;
      left:0;
      @include transition(all 0.4s ease-in-out);
    }

    &:hover {
      background: none!important;
    }

    &.btn-gold {
      &:after {
        background: $c-gold;
      }

      &:hover {
        background: transparent;
        color: $c-white;

        &:after {
          width: 100%;
        }
      }
    }

    &.btn-white {
      &:after {
        background: $c-white;
      }

      &:hover {
        background: transparent;
        color: $c-gold;

        &:after {
          width: 100%;
        }
      }
    }
  }
}
