label {
  @include smalltext();
  display: block;
  color: $c-white;

  &.error {
    color: $c-errorred;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: url('../images/inputarrow.png');
  background-repeat: no-repeat;
  background-position: 94% 52%;
}

input,
textarea, select {
  display: block;
  border: none;
  border: 1px solid $c-gold;
  padding: 12px 15px;
  @include transition(all 0.2s ease-in-out);
  @include font-size(1.4, 2.4);
  font-family: $body-font;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }

  &.error{
    border: 2px solid $c-errorred;
  }
}

textarea {

}

@-moz-document url-prefix() {
  select {
    -moz-appearance: none;
    background-image: url('../img/select.png');
    padding-right: 50px;
    border: 1px solid $c-lightgrey;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px 8px;
  }
}

button {
  @include smalltext;
  color: $c-white;
  background: $c-darkblue;
  border: 1px solid $c-lightgrey;
  padding: 13px 15px;
}
