<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
    <security>
      <ipSecurity allowUnlisted="false">
        <clear/>
        <add ipAddress="213.105.81.178" allowed='true'/>
        <add ipAddress="62.253.253.221" allowed='true'/>
        <add ipAddress="146.199.187.97" allowed='true'/>
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
