/*****
Reference to SMACSS - http://smacss.com/

NAMING CONVENTIONS:
c- : Color,
l- : Layout,
m- : Module,
f- : Form,
e- : Element,
*****/

//COLOURS
$c-title: #b18a2e;
$c-bodytext:#525252;

$c-white: #ffffff;
$c-black: #000000;

$c-lightgrey: #f1f1ee;
$c-grey: #d9d6d6;

$c-gold: #b18a2e;

$c-darkblue: #014d66;

$c-errorred: #ff0808;

//breakpoints
$screen-xxs: 400px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1450px;

.container {
  width: auto;
  display: table;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: $screen-sm) {
	.container {
		width: 687px;
	}
}

@media (min-width: $screen-md) {
	.container {
		width: 912px;
	}
}

@media (min-width: $screen-lg) {
	.container {
		width: 1120px;
	}
}

@media (min-width: $screen-xl) {
	.container {
		width: 1380px;
	}
}

@media (max-width: $screen-xxs){
	.col-xxs-12 {
		float: none;
		width: 100%;
	}
	.hidden-xxs {
		display: none!important;
	}
}
