.m-3colgrid {
  @include clearfix;
  background-color: $c-darkblue;
  position: relative;
  overflow: hidden;

  .bars-bg {
    position: absolute;
    height: 60%;
    width: auto;
    fill: #0e546d;
    bottom: 0;
    right: 0;
  }

  .top {
    background: #a27d2d;
    padding: 25px 0;
    position: relative;
    overflow: hidden;

    p {
      @include smalltext;
    }

    h2, P {
      color: $c-white;
      text-align: center;
      position: relative;
      z-index: 2;
      margin-bottom: 0;
    }

    .largetext {
      @include centre(x);
      color: #aa863a;
      text-align: center;
      @include font-size(7.0, 7.0);
      margin: 0;
      bottom: -20px;
      white-space: nowrap;
    }
  }

  .item-container {
    margin: 0 -60px;
    padding: 40px 0;
    @include clearfix;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 20px;
      @include centre(x);
      top: 0;
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 20px solid #a27d2d;
    }

    .item {
      @include grid(12, 6, 4, 4);
      padding: 0 60px 45px;
      margin-bottom: 60px;
      position: relative;

      img {
        margin-bottom: 5px;
      }

      h3, p {
        color: $c-white;
      }

      h3 {
        margin-bottom: 0;
      }

      .details {
        color: #e6b626;
        font-weight: 600;
        @include font-size(1.4, 2.4);
        margin-bottom: 10px;
      }

      .btn {
        background: transparent;
        margin-top: 5px;
        position: absolute;
        bottom: 0;
        left: 60px;

        &:hover {
          background: $c-gold;
        }
      }
    }
  }

  @media (min-width: 500px) {
    .top {
      .largetext {
        @include font-size(9.0, 9.0);
      }
    }
  }

  @media (min-width: $screen-sm) {
    .top {
      padding: 40px;

      .largetext {
        @include font-size(14.0, 14.0);
        bottom: -40px;
      }
    }

    .item-container {
      padding: 60px 0;
    }
  }

  @media (min-width: $screen-md) {
    .top {
      .largetext {
        @include font-size(17.0, 17.0);
        bottom: -55px;
      }
    }
  }

  @media (min-width: $screen-lg) {
    .top {
      .largetext {
        @include font-size(21.0, 21.0);
        bottom: -70px;
      }
    }
  }

  @media (min-width: $screen-xl) {
    .top {
      .largetext {
        @include font-size(26.0, 26.0);
        bottom: -110px;
      }
    }
  }
}
