.m-5050textform {
  @include clearfix;
  @include blockmargin;

  &.black {
    .form {
      background: url('../images/form-gold.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &.blue {
    .form {
      background: $c-darkblue;

      .smalltext {
        color: $c-white;
      }

      input, select {
        border-color: $c-white;
      }

      button {
        background: $c-darkblue;
        border-color: $c-white;
        color: $c-white;

        &:hover {
          background: $c-white;
          color: $c-darkblue;
        }
      }
    }
  }

  &.gold {
    .form {
      background: $c-gold;

      .smalltext {
        color: $c-white;
      }

      input, select {
        border-color: $c-white;
      }

      button {
        background: $c-gold;
        border-color: $c-white;
        color: $c-white;

        &:hover {
          background: $c-white;
          color: $c-gold;
        }
      }
    }
  }

  .smalltext {
    @include smalltext;
    margin-bottom: 0;
  }

  .text {
    @include grid(12, 12, 6, 6);

    .text-inner {
      margin-top: 60px;
    }
  }

  .form {
    padding: 30px;
    margin-top: 20px;
    @include grid(12, 12, 6, 6);
    background: $c-lightgrey;

    .smalltext {
      color: $c-gold;
      margin-bottom: 5px;
    }

    form {
      font-size: 0;
      margin: 0 -5px;

      input, select, button {
        margin: 5px;
        display: inline-block;
        width: 45%;
        width: 100%;
      }

      button {
        background: $c-gold;
        color: $c-white;
        border: 2px solid $c-gold;
        padding: 11px 13px;

        &:hover {
          background: $c-white;
          color: $c-gold;
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    .text {
      .text-inner {
        margin-right: 70px;
      }
    }

    .form {
      form {
        input, select, button  {
          width: calc(50% - 10px);
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    .form {
      margin-top: 0;
      padding: 60px;
    }
  }
}
