.m-5050grid {
  margin-top: 80px;
  position: relative;

  .block5050 {
    padding: 0 0 80px;
    background: $c-lightgrey;
    @include clearfix;

    &.noimage {
      .text {
        width: 100%!important;
        max-width: 1200px;

        .text-inner {
          margin: 0!important;
        }
      }

      .image {
        display: none;
      }
    }

    &.reversed {
      background: $c-white;
      margin-top: 0;
      margin-bottom: 40px;
      padding: 0;

      .image {
        float: left;
        position: relative;
      }
    }

    .text {
      @include grid(12, 12, 6, 5);

      .text-inner {

        .smalltext {
          @include smalltext();
          margin-bottom: 0;
        }

        img {
          margin-bottom: 15px;
        }
      }
    }

    .image {
      @include grid(12, 12, 6, 7);
      float: right;
      margin-bottom: 20px;
      @include transition(all 0.8s ease-in-out);
      margin-top: -50px;
      position: relative;
      top: 30px;
      opacity: 0;

      &.active {
        opacity: 1;
        top: 0;
      }
    }
  }

  @media (min-width: $screen-sm) {
    .block5050 {
      .text {
        .text-inner {
          max-width: 90%;
        }
      }

      .image {
        img {
          max-width: 80%;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    margin-top: 90px;

    .block5050 {
      padding: 0 0 90px;

      &.reversed {
        margin: 0 0 60px;
        padding: 0;

        .image {

          img {
            width: calc(100% - 80px);
            float: right;
          }
        }

        .text {
          .text-inner {
            margin-left: 70px;
            margin-right: 0;
          }
        }
      }

      .image {
        margin-bottom: 0;
        margin-top: -30px;

        img {
          max-width: 100%;
        }
      }

      .text {
        padding-top: 50px;

        .text-inner {
          margin-right: 70px;
          max-width: 100%;
        }
      }
    }
  }
}
