.m-6040grid {
  padding-top: 100px;
  position: relative;

  & + .m-6040grid {
    margin-top: 0;
  }

  .block6040 {
    padding: 0 0 100px;
    background: $c-lightgrey;
    @include clearfix;

    &:first-child {
      &.noimage {
        margin-top: -100px;
      }
    }

    &:last-child {
      background: $c-white;
    }

    &.noimage {
      .text {
        width: 100%!important;
        padding-top: 50px;

        .text-inner {
          margin: 0;
        }
      }

      .image {
        display: none;
      }
    }

    &.reversed {
      &:last-child {
        margin-top: 0;
        margin-bottom: 50px;
        padding: 0;
      }

      .image {
        float: left;
        position: relative;
      }
    }

    .text {
      @include grid(12, 12, 6, 5);

      .text-inner {

        .smalltext {
          @include smalltext();
          margin-bottom: 0;
        }

        img {
          margin-bottom: 15px;
        }
      }
    }

    .image {
      @include grid(12, 12, 6, 7);
      float: right;
      margin-bottom: 20px;
      @include transition(all 0.8s ease-in-out);
      margin-top: -50px;
      position: relative;
      top: 30px;
      opacity: 0;

      &.active {
        opacity: 1;
        top: 0;
      }
    }
  }

  @media (min-width: $screen-sm) {
    .block6040 {
      .text {
        .text-inner {
          max-width: 90%;
        }
      }

      .image {
        img {
          max-width: 80%;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    .block6040 {
      &.noimage {
        .text {
          padding-top: 100px;

          .text-inner {
            margin: 0 0 0 80px;
            max-width: 1000px;
          }
        }
      }

      &.reversed {
        .image {
          img {
            width: calc(100% - 80px);
            float: right;
          }
        }

        .text {
          .text-inner {
            margin-left: 70px;
            margin-right: 0;
          }
        }

        &:last-child {
          margin: 0 0 100px;
          padding: 0;
        }
      }

      .image {
        margin-bottom: 0;
        margin-top: -30px;

        img {
          max-width: 100%;
        }
      }

      .text {
        padding-top: 100px;

        .text-inner {
          margin-right: 70px;
          max-width: 100%;
        }
      }
    }
  }
}
