.m-fullwidthcta {
  padding: 40px 0;
  background: $c-lightgrey;

  &.black {
    background: $c-black;

    p {
      color: $c-gold;
    }

    .btn {
      background: $c-black;
      color: $c-gold;

      &:after {
        background: $c-gold;
      }

      &:hover {
        color: $c-black;
        background: $c-gold;
      }
    }
  }

  &.blue {
    background: $c-darkblue;

    h2, p {
      color: $c-white;
    }

    .btn {
      background: $c-darkblue;
      border-color: $c-white;
      color: $c-white;

      &:after {
        background: $c-white;
      }

      &:hover {
        color: $c-darkblue;
        background: $c-white;
      }
    }
  }

  &.gold {
    background: $c-gold;

    h2, p {
      color: $c-white;
    }

    .btn {
      background: $c-gold;
      border-color: $c-white;
      color: $c-white;

      &:after {
        background: $c-white;
      }

      &:hover {
        color: $c-gold;
        background: $c-white;
      }
    }
  }

  p {
    font-family: $title-font;
  }

  .btn {
    background: $c-lightgrey;

    &:hover {
      color: $c-lightgrey;
    }
  }

  @media (min-width: $screen-sm) {
    h2, p, a {
      margin: 0;
    }

    h2 {
      margin-right: 50px;
    }

    a, p {
      display: inline-block;
    }

    a {
      margin-left: 40px;
    }
  }

  @media (min-width: $screen-lg) {
    h2 {
      display: inline-block;
      margin-left: 50px;
    }
  }

  @media (min-width: $screen-xl) {
    h2 {
      margin-left: 100px;
    }
  }
}
