.m-gmap {
  background: $c-lightgrey;
  @include blockpadding();
  @include clearfix();

  .map {
    position: relative;
    @include clearfix();
    @include grid(12, 12, 12, 6);

    #map_canvas {
      width: 100%;
      height: 300px;
      position: relative;
      overflow: hidden;
    }

    .form {
      background: $c-white;
      padding: 14px 20px 20px;
      margin-top: 30px;
      margin-bottom: 30px;

      label {
        color: $c-bodytext;
        margin-bottom: 5px;
        font-weight: 600;
      }

      input {
        width: 100%;
        margin-bottom: 15px;

        &.error {
          & + .errormsg {
            display: block;
          }
        }
      }

      .btn {
        width: 100%;
        display: block;
        box-sizing:border-box;
      }

      .errormsg {
        margin-top: -5px;
        margin-bottom: 10px;
        display: none;
        @include font-size(1.4, 1.4);
        color: $c-errorred;
        font-weight: 600;
      }
    }
  }

  .directions {
    @include grid(12, 12, 12, 6);

    .directions-inner {
      td {
        &.adp-text {
          padding: 10px 20px;
        }

        &.adp-substep {
          padding: 5px;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    .map {
      margin-bottom: 30px;

      #map_canvas {
        height: 500px;
      }

      .form {
        margin: 0;
        @include centre(x);
        top: 0;
      }
    }
  }

  @media (min-width: $screen-lg) {
    .row {
      margin: 0 -35px;
    }

    .map {
      margin-bottom: 0;

      #map_canvas {
        height: 600px;
      }
    }

    .directions {
      .directions-inner {
        margin-left: 70px;
      }
    }
  }
}
