.m-slim6040 {
  @include blockmargin;
  @include clearfix;
  position: relative;

  &:before {
    position: absolute;
    display: block;
    background: $c-lightgrey;
    content:'';
    height: 60%;
    width: 500%;
    left: -100%;
    bottom: 0px;
    z-index: -1;
  }

  &.overlap-top {
    margin-top: -25px;
  }

  &.overlap-bottom {
    margin-bottom: 0;
  }

  .text {
    @include grid(12, 12, 6, 5);
    padding: 25px 25px 50px;

    .text-inner {
      .smalltext {
        @include smalltext();
        margin-bottom: 0;
      }
    }
  }

  .image {
    @include grid(12, 12, 6, 7);
    float: right;
    position: relative;
    z-index: 2;
    font-size: 0;
    line-height: 0;

    &.active {
      img {
        opacity: 1;
        top: 0;
      }
    }

    img {
      margin-bottom: 20px;
      position: relative;
      top: 30px;
      opacity: 0;
      @include transition(all 0.8s ease-in-out);
    }
  }

  @media (min-width: $screen-sm) {
    .block5050 {
      .text {
        .text-inner {
          max-width: 90%;
        }
      }

      .image {
        img {
          max-width: 80%;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    background: $c-lightgrey;
    padding: 25px 0 20px;

    &:before {
      display: none;
    }

    &.overlap-top {
      margin-top: 0;

      .image {
        margin-top: -40px;
      }
    }

    .image {
      img {
        margin-bottom: 0;
      }
    }

    .text {
      padding: 25px;
    }
  }

  @media (min-width: $screen-lg) {
    background: none;
    padding: 0;

    &:before {
      bottom: auto;
      @include centre(y);
      display: block;
      height: 75%;
    }

    &.overlap-top {
      .image {
        margin-top: -40px;
      }
    }

    &.overlap-bottom {
      margin-bottom: 0;
      background: $c-lightgrey;

      .image {
        margin-bottom: -40px;
        margin-top: -40px;
      }

      & + .m-fullwidthcta {
        padding-top: 60px;
      }
    }

    .container {
      position: relative;
      @include clearfix;
    }

    .text {
      @include centre(y);
      padding: 0;
      background: none;

      .text-inner {
        margin-right: 70px;
        max-width: 100%;
      }
    }

    .image {
      img {
        width: 100%;
      }
    }
  }

  @media (min-width: $screen-xl) {
    &:before {
      height: 65%;
    }
  }
}
