.m-threecol {
  padding: 50px 0;
  position: relative;
  overflow: hidden;

  &.blue {
    background-image: url('../images/s-bluebarsbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.gold {
    background-image: url('../images/s-goldweddingbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .item {
      .item-inner {
        .text {
          .link {
            color: $c-darkblue;
            border-color: $c-darkblue;
          }
        }
      }

      a {
        &:hover {
          .item-inner {
            .text {
              h2 {
                color: $c-darkblue;
              }
            }
          }
        }
      }
    }
  }

  &.grey {
    background-image: url('../images/s-greybarsbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .intro {
      h2, p {
        color: $c-darkblue;
      }
    }

    .item {
      .item-inner {
        .text {
          h2,p {
            color: $c-darkblue;
          }

          .link {
            color: $c-darkblue;
            border-color: $c-darkblue;

            &:after {
              background: $c-gold;
            }
          }
        }
      }
    }
  }

  .intro {
    position: relative;
    padding: 0 40px 20px;
    text-align: center;

    h2, p {
      color: $c-white;
    }

    p {
      @include smalltext();
      margin-bottom: 0;
    }
  }

  .item {
    @include grid(12, 6, 6, 4);
    margin-bottom: 50px;

    a {
      border: none;
      display: block;

      &:after {
        display: none;
      }

      &:hover {
        .item-inner {
          .text {
            h2 {
              color: $c-gold;
            }
          }
        }

        .link {
          &:after {
            width: 100%;
          }
        }
      }
    }

    .item-inner {

      .text {
        margin-top: -40px;
        margin-left: 35px;
        padding-top: 15px;
        padding-left: 10%;
        position: relative;

        h2, p {
          color: $c-white;
        }

        h2 {
          text-transform: none;
          letter-spacing: 0px;
          @include transition(all 0.4s ease-in-out);
        }

        p:not(.link) {
          text-transform: none;
          letter-spacing: 0px;
          font-weight: 400;
        }

        .link {
          color: $c-gold;
          border-bottom: 2px solid $c-gold;

          &:after {
            background: $c-white;
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    .item-container {
      margin: 0 -25px;
      @include clearfix();
    }

    .item {
      padding: 0 25px;

      .item-inner {
        .text {
          margin-top: -45px;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    padding: 80px 0;

    .intro {
      padding-bottom: 35px;
    }
  }

  @media (min-width: $screen-lg) {
    .item {
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-xl) {
    .item {
      .item-inner {
        .text {
          margin-top: -50px;
        }
      }
    }
  }
}
