.m-threecol {
  padding: 50px 0;
  position: relative;
  overflow: hidden;

  &.blue {
    background-image: url('../images/s-bluebarsbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.gold {
    background-image: url('../images/s-goldweddingbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .item {
      .item-inner {
        .text {
          a {
            color: $c-darkblue;
            border-color: $c-darkblue;
          }
        }
      }
    }
  }

  &.grey {
    background-image: url('../images/s-greybarsbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .intro {
      h2, p {
        color: $c-darkblue;
      }
    }

    .item {
      .item-inner {
        .text {
          h2,p {
            color: $c-darkblue;
          }
          
          a {
            color: $c-darkblue;
            border-color: $c-darkblue;
          }
        }
      }
    }
  }

  .intro {
    position: relative;
    padding: 0 40px 20px;
    text-align: center;

    h2, p {
      color: $c-white;
    }

    p {
      @include smalltext();
      margin-bottom: 0;
    }
  }

  .item {
    @include grid(12, 6, 4, 4);
    margin-bottom: 50px;

    .item-inner {

      .text {
        margin-top: -50px;
        margin-left: 35px;
        padding-top: 15px;
        padding-left: 10%;
        position: relative;

        h2, p {
          color: $c-white;
        }

        a {
          color: $c-gold;
          border-bottom: 3px solid $c-gold;

          &:after {
            background: $c-white;
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    .bars-bg {

    }

    .item-container {
      margin: 0 -25px;
      @include clearfix();
    }

    .item {
      padding: 0 25px;
    }
  }

  @media (min-width: $screen-md) {
    padding: 80px 0;

    .bars-bg {

    }

    .intro {
      padding-bottom: 35px;
    }

    .item {
      margin-bottom: 0;
    }
  }
}
